* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary-color: #000;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #2a2a2a;

  --delete-color: #ff4d4d;

  --text-primary-color: #f4f4f4;

  --nav-pd: 15px 30px;
  --section-pd: 15px 30px;
  --pd-s: 5px;
  --pd-md: 10px;
  --pd-lg: 15px;
  --pd-xl: 20px;

  --border-radius-s: 5px;
  --border-radius-md: 10px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

body {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  padding: var(--nav-pd);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background-color: var(--bg-button-color);
  border: none;
  border-radius: var(--border-radius-md);
  outline: none;

  color: var(--text-primary-color);
  padding: var(--pd-md) var(--pd-lg);
  cursor: pointer;
}

section {
  padding: var(--section-pd);
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: var(--pd-xl);
}

section .task-cols {
  background-color: var(--bg-button-color);
  flex-grow: 1;
  padding: var(--pd-md);
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--pd-md);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-cols.hover-over {
  border: 2px dashed var(--text-primary-color);
  scale: 1.02;
}

section .task-cols .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .task-cols .task {
  background-color: var(--bg-task-color);
  padding: var(--pd-md);
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--pd-s);
  cursor: grab;
}

section .task-cols .task button {
  align-self: flex-end;
  cursor: pointer;
  padding: var(--pd-s) var(--pd-md);
  outline: none;
  border: none;
  border-radius: var(--border-radius-s);
  background-color: var(--delete-color);
  color: var(--text-primary-color);
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(61, 61, 61, 0.404);
  backdrop-filter: blur(5px);
}

.modal .center {
  width: 30%; 
  background-color: var(--bg-button-color);
  padding: var(--pd-xl);
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--pd-md);
  z-index: 10;
}

.modal .center input,
.modal .center textarea {
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  color: var(--text-primary-color);
  padding: var(--pd-md);
  border-radius: var(--border-radius-s);
}

.modal .center button {
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  color: var(--text-primary-color);
  padding: var(--pd-md) var(--pd-lg);
  cursor: pointer;
  border-radius: var(--border-radius-md);
  width: fit-content;
  align-self: center;
}
